EJERCICIO 12/restriccion4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="alumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="dni">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <!-- 8 dígitos seguidos de una letra mayúscula -->
              <xs:pattern value="\d{8}[A-Z]"/>
              <!-- Longitud exacta de 9 caracteres -->
              <xs:minLength value="9"/>
              <xs:maxLength value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="direccion" type="xs:string"/>
        <xs:element name="edad" type="xs:integer"/>
        <xs:element name="sexo" type="xs:string"/>
        <xs:element name="telefono">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <!-- Solo números -->
              <xs:pattern value="\d+"/>
              <!-- Longitud válida (9 a 12 dígitos) -->
              <xs:minLength value="9"/>
              <xs:maxLength value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
